body {
    background-color: #2f303b;
}
.bovenkant {
    text-align: center;
    color: white;
    margin-top: 50px;
}
.bovenkant h1{
    font-family: sans-serif;
    font-size: 70px;
}
.bovenkant p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    margin: 600px;
    margin-top: 0px;
}
.choose h1 {
    color: white;
    text-align: center;
    margin-top: -400px;
}
.cv-templates {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}
.cv-template{
    transition: transform 0.3s ease;
}

.cv-template img {
    width: 450px;
    border-radius: 10px;
    cursor: pointer;
}
.cv-template:hover {
    transform: scale(1.05);
}